.table-wrp  {
    max-height: 75vh;
    overflow-y: auto;
    display:block;
  }
  thead{
    position:sticky;
    top:0
  }

.equal-width-columns th,
.equal-width-columns td {
    width: 14.29%; /* Adjust this based on the number of columns */
}

