<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salmon Production</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('https://zebra-factory.onrender.com');
        socket.on('refresh_data', function(data) {
            alert(data.message);
            // Optionally, you can refresh the page to get the latest data
            location.reload();
        });
    </script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        flatpickr("#selected_date", {
            dateFormat: "Y-m-d",
        });
    });
    </script>
</head>

<body class="bg-gray-100 font-sans">
    <div class="container mx-auto p-4 md:p-12">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
            <h2 class="font-bold text-3xl mb-4 text-center transform transition-transform duration-300 ease-in-out">
                <a href="/" class="block text-black hover:text-gray-700">Salmon Production</a>
            </h2>
            
            <form action="/" method="post" class="mb-6 bg-gradient-to-r from-gray-100 to-gray-200 p-4 rounded-lg shadow-md">
                <div class="mb-4 flex items-center">
                    <label class="text-gray-600 text-lg font-semibold mr-2" for="selected_date">
                        Date:
                    </label>
                    <input type="date" id="selected_date" name="selected_date" value="{{ selected_date }}" class="border border-gray-300 px-3 py-2 text-gray-700 flex-grow rounded">
                </div>
                <button type="submit" class="text-xl bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 text-white font-semibold py-2.5 px-4 rounded-lg w-full transition duration-300 ease-in-out transform hover:scale-102">
                    Fetch Order
                </button>
            </form>
            
            {% if grouped_orders %}
                {% for product, product_orders in grouped_orders.items() %}
                    <div class="my-6 p-4 bg-gradient-to-r from-gray-100 to-gray-200 rounded-lg shadow-md">
                        <h3 class="font-bold text-2xl mb-4 text-center">{{ product }}: {{ totals[product] }} kg</h3>
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-4 mb-4">
                            {% for order in product_orders %}
                                <div>
                                    <a href="{{ url_for('order_detail', order_id=order[0]) }}" class="block bg-gradient-to-r from-gray-600 to-gray-700 hover:from-gray-700 hover:to-gray-800 p-3 md:p-4 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105 flex flex-col justify-between">
                                        <div class="text-white font-semibold text-base sm:text-lg">
                                            {{ order[1] }}
                                        </div>
                                        <div class="flex justify-between items-end">
                                            <p class="text-gray-300 text-base sm:text-xl">
                                                {{ order[3] }}
                                            </p>
                                            <p class="text-gray-400 text-base sm:text-xl">
                                                {{ order[6] }} / {{ order[5]|int }} kg
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="mt-6 p-4 bg-gradient-to-r from-gray-100 to-gray-200 rounded-lg shadow-md text-center">
                <h4 class="font-bold text-xl mb-4">No Orders</h3>
                <p class="text-gray-600">Please select a different date or check back later.</p>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>
