<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}

    <script>
        var socket = io.connect('https://zebra-factory.onrender.com');
            socket.on('refresh_data', function(data) {
                alert(data.message);
                // Optionally, you can refresh the page to get the latest data
                location.reload();
            });

            // Listen for status updates
            socket.on('status_update', function(data) {
                const statusIcon = document.getElementById('status-icon');
                if (data.status === 'green') {
                    statusIcon.className = 'fas fa-circle text-green-500 mr-3 breathing-icon';
                } else {
                    statusIcon.className = 'fas fa-circle text-red-500 mr-3';
                }
            });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        let navToggle = document.querySelector('.nav-toggle');
        let bars = document.querySelectorAll('.bar');
        var sidebar = document.getElementById('sidebar');

        function toggleHamburger(e) {
        bars.forEach(bar => bar.classList.toggle('x'))
        sidebar.classList.toggle('-translate-x-full'); // Toggle the sidebar visibility
        };
        navToggle.addEventListener('click', toggleHamburger);
        })
    </script>
    {% block head_content %}{% endblock %}

</head>
<body>
    {{ toastr.include_toastr_js() }}
    {% block navbar %}
    {% if current_user.is_authenticated %}

    <div class="relative min-h-screen">
        <!-- Top Navbar -->
        <div class="bg-gradient-to-r from-black to-gray-800 p-4 shadow-md fixed w-full z-40">
            <div class="container mx-auto flex justify-between items-center">
                    <a id="hamburger-btn" class="nav-toggle">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </a>
                <div>
                    <!-- Status Icon -->
                    <!-- <span id="status-icon" class="fas fa-circle text-red-500 mr-3"></span> -->
                    <a href="{{ url_for('auth.logout') }}" class="transition duration-300 ease-in-out bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded-full shadow-md border border-gray-600 hover:border-gray-500">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        
        <!-- Main content and sidebar wrapper -->
        <div class="flex flex-col md:flex-row">
            <!-- Sidebar, fixed and full height -->
            <div id="sidebar" class="pt-16 fixed inset-y-0 left-0 transform -translate-x-full transition duration-200 ease-in-out z-20 w-60 bg-black bg-opacity-80 backdrop-filter backdrop-blur-lg">
                <!-- Sidebar content -->
                <nav class="text-white w-60 p-4 space-y-4">
                    <a href="/" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Home</a>
                    <a href="/order" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Order</a>
                    <a href="/customer" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Customer</a>
                    <a href="/product" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Product</a>
                    <a href="/inventory" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Inventory</a>
                    <a href="/label" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Label</a>
                </nav>
            </div>
            {% endif %}
            {% endblock %}

            <!-- Page Content -->
            <div class="w-full flex-1">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
