{% extends "base.html" %}

{% block head_content %}
    <title>Salmon Production</title>
    <script src="/static/js/indexScripts.js" defer></script>
{% endblock %}

{% block body %}
<body class="bg-gray-100 font-sans">
    <div class="container mx-auto p-4 md:p-12">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
            <h2 class="font-bold text-3xl mb-4 text-center transform transition-transform duration-300 ease-in-out">
                <a href="/" class="block text-black hover:text-gray-700">Salmon Production</a>
            </h2>

            <form action="/" method="post" class="mb-6 bg-gradient-to-r from-gray-100 to-gray-200 p-4 rounded-lg shadow-md">
                <div class="mb-4 flex items-center">
                    <label class="text-gray-600 text-lg font-semibold" for="selected_date"></label>
                    <input 
                    type="date" 
                    id="selected_date" 
                    name="selected_date" 
                    value="{{ selected_date }}" 
                    class="border border-gray-300 px-2 md:px-4 py-2 md:py-1 text-xl md:text-3xl flex-grow rounded-lg font-bold text-gray-700 overflow-hidden">
                </div>

                <div class="flex justify-between mt-4 space-x-2">
                    <button name="prev_date" type="submit" value="{{ (selected_date - timedelta(days=1)).isoformat() }}" class="flex-grow-none text-sm bg-gray-300 hover:bg-gray-400 text-black font-semibold py-1.5 px-4 rounded-lg transition duration-300 ease-in-out">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button type="submit" class="flex-grow text-xl bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 text-white font-semibold py-2.5 px-4 rounded-lg transition duration-300 ease-in-out transform hover:scale-102">
                        Fetch Order
                    </button>
                    <button name="next_date" type="submit" value="{{ (selected_date + timedelta(days=1)).isoformat() }}" class="flex-grow-none text-sm bg-gray-300 hover:bg-gray-400 text-black font-semibold py-1.5 px-4 rounded-lg transition duration-300 ease-in-out">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
                
            </form>

            {% if totals %}

            <div class="my-3 w-full bg-white shadow-md rounded-lg overflow-hidden">
                <table class="w-full">
                    {% for product, order_info in totals.items() %}
                        <tr class="grid grid-cols-3 divide-x divide-gray-200">
                            <td class="px-5 py-3 text-sm text-gray-700 font-medium text-center">
                                {{ product }}
                            </td>
                            <td class="px-5 py-3 text-xs font-thin text-gray-700 text-center
                                        {% if (order_info[1]|float / order_info[0]|float) >= completion_threshold|float %}
                                            text-green-600 font-bold
                                        {% else %}
                                            text-red-600 font-bold
                                        {% endif %}">
                                {{ '%.1f' % (order_info[1]|float / order_info[0]|float * 100) if order_info[0]|float != 0 else 'N/A' }} %
                            </td>
                            <td class="px-5 py-3 text-xs font-thin text-gray-700 text-center
                            {% if (order_info[1]|float / order_info[0]|float) >= completion_threshold|float %}
                                text-green-600 font-bold
                            {% else %}
                                text-red-600 font-bold
                            {% endif %}">
                                {{ '%.2f' % (order_info[1]|float) }} / {{ '%.2f' % (order_info[0]|float) }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                
                
            </div>
            
            
                
            {% endif %}




            {% if grouped_orders %}
            <div class="tabs flex border-b-2 border-gray-300">
                {% for product_type, order_details in grouped_orders.items() %}
                    <button class="tab-button flex-1 py-2 px-4 text-sm font-medium transition duration-300 ease-in-out focus:outline-none hover:bg-gray-100 focus:bg-gray-200 text-gray-700 hover:text-gray-900 focus:text-gray-900 rounded-t-md" onclick="showOrders('{{ product_type }}')">{{ product_type }}</button>
                {% endfor %}
            </div>
            
            
            <div id="LohiOrders" class="orders-content">
                {% for product_type, order_detailes in grouped_orders.items() %}

                    {% if "Lohi" in product_type %}
                        {% for priority, detailes in order_detailes.items() %}
                            <div class="flex items-center justify-center gap-2 my-4">
                                <hr class="w-full border-t border-gray-300">
                                <span class="text-sm text-gray-500 font-medium whitespace-nowrap">{{ priority }}</span>
                                <hr class="w-full border-t border-gray-300">
                            </div>
                            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-4 mb-4">
                                {% for order in detailes %}
                                <div>
                                    <a href="{{ url_for('main.order_detail', order_id=order[0]) }}" 
                                        class="rounded-border block p-3 md:p-4 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105 flex flex-col justify-between
                                        {% if order[6] >= order[5]|float*completion_threshold|float %}
                                            bg-gradient-to-tr from-green-500 to-green-700
                                        {% else %} 
                                            {% if order[7] == 1 %}
                                                bg-gradient-to-l from-red-900 via-yellow-800 to-yellow-600
                                            {% elif order[7] == 2 %}
                                                bg-gradient-to-br from-blue-600 to-blue-900
                                            {% else %}
                                                bg-gradient-to-bl from-gray-900 to-gray-600 bg-gradient-to-r
                                            {% endif %}
                                        {% endif %}
                                        ">
                                        <div class="text-white font-semibold text-base sm:text-lg">
                                            {{ order[1] }}
                                        </div>
                                        <div class="flex justify-between items-end">
                                            <p class="text-white font-thin text-base sm:text-s">
                                                {{ order[3] }}
                                            </p>
                                            <p class="text-white font-thin text-base sm:text-xl">
                                                {{ order[6] }} / {{ order[5]|float }} kg
                                            </p>
                                            {% if "Lohi" in order[3] %}
                                            <div class="absolute top-0 right-0 bg-black bg-opacity-20 text-white rounded-lg rounded-bl-lg px-2 py-1 text-xs" style="text-transform: capitalize;">
                                                {{ order[8] }}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
            </div>

            <div id="VegetableOrders" class="orders-content" style="display:none;">
                {% for product_type, order_detailes in grouped_orders.items() %}
                    {% if "Vegetable" in product_type %}
                        {% for priority, detailes in order_detailes.items() %}
                            <div class="flex items-center justify-center gap-2 my-4">
                                <hr class="w-full border-t border-gray-300">
                                <span class="text-sm text-gray-500 font-medium whitespace-nowrap">{{ priority }}</span>
                                <hr class="w-full border-t border-gray-300">
                            </div>
                            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-4 mb-4">
                                {% for order in detailes %}
                                <div>
                                    <a href="{{ url_for('main.order_detail', order_id=order[0]) }}" 
                                        class="rounded-border block p-3 md:p-4 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105 flex flex-col justify-between
                                        {% if order[6] >= order[5]|float*completion_threshold|float %}
                                            bg-gradient-to-tr from-green-500 to-green-700
                                        {% else %} 
                                            {% if order[7] == 1 %}
                                                bg-gradient-to-l from-red-900 via-yellow-800 to-yellow-600
                                            {% elif order[7] == 2 %}
                                                bg-gradient-to-br from-blue-600 to-blue-900
                                            {% else %}
                                                bg-gradient-to-bl from-gray-900 to-gray-600 bg-gradient-to-r
                                            {% endif %}
                                        {% endif %}
                                        ">
                                        <div class="text-white font-semibold text-base sm:text-lg">
                                            {{ order[1] }}
                                        </div>
                                        <div class="flex justify-between items-end">
                                            <p class="text-white font-thin text-base sm:text-s">
                                                {{ order[3] }}
                                            </p>
                                            <p class="text-white font-thin text-base sm:text-xl">
                                                {{ order[6] }} / {{ order[5]|float }} kg
                                            </p>
                                            {% if "Lohi" in order[3] %}
                                            <div class="absolute top-0 right-0 bg-black bg-opacity-20 text-white rounded-lg rounded-bl-lg px-2 py-1 text-xs" style="text-transform: capitalize;">
                                                {{ order[8] }}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>

            {% else %}
                <div class="mt-6 p-4 bg-gradient-to-r from-gray-100 to-gray-200 rounded-lg shadow-md text-center">
                    <h4 class="font-bold text-xl mb-4">No Orders</h3>
                    <p class="text-gray-600">Please select a different date or check back later.</p>
                </div>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}
