{% extends "base.html" %}

{% block head_content %}
    <title>Edit Orders</title>
    <script src="/static/js/orderEditingScripts.js" defer></script>
    <link rel="stylesheet" href="/static/css/orderEditing.css">
{% endblock %}

{% block body %}
<div class="flex flex-col p-2">
    <div id="toast" class="fixed top-4 left-1/2 transform -translate-x-1/2 p-4 bg-gradient-to-r from-indigo-400 to-blue-400 text-white rounded-lg shadow-xl opacity-0 transition-all duration-500 ease-in-out max-w-xs w-full">
        <i class="fas fa-check-circle mr-2"></i> Successful!
        <button id="toastClose" class="absolute top-1/2 right-4 transform -translate-y-1/2 text-2xl leading-none hover:text-gray-100">&times;</button>
    </div>
    <div id="errorToast" class="fixed top-4 left-1/2 transform -translate-x-1/2 p-4 bg-gradient-to-r from-red-400 to-red-600 text-white rounded-lg shadow-xl opacity-0 transition-all duration-500 ease-in-out max-w-xs w-full">
        <i class="fas fa-exclamation-circle mr-2"></i> Error, please try again!
        <button id="errorToastClose" class="absolute top-1/2 right-4 transform -translate-y-1/2 text-2xl leading-none hover:text-gray-100">&times;</button>
    </div>

    <form action="/order-editing" method="get" class="sticky mb-4 p-2 bg-gradient-to-r from-gray-100 to-gray-200 rounded-lg shadow-md">
            <div class="mb-2 flex text-center items-center">
                <input 
                type="week" 
                id="date-range" 
                name="week"
                value="{{ week_str }}" 
                class="border py-2 px-10 text-center flex-grow rounded-lg">
            </div>

            <div class="flex justify-between mt-2 space-x-2">
                <button name="prev_week" type="submit" value="true" class="flex-grow text-sm bg-gray-300 hover:bg-gray-400 text-black font-semibold py-1.5 px-4 rounded-lg transition duration-100 ease-in-out">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>

                <button 
                type="submit" 
                class="flex-grow bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 text-white font-semibold py-2.5 px-4 rounded-lg">
                Search
                </button>

                <button name="next_week" type="submit" value="true" class="flex-grow text-sm bg-gray-300 hover:bg-gray-400 text-black font-semibold py-1.5 px-4 rounded-lg transition duration-100 ease-in-out">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
        </div>
    </form>
    


    <div class="overflow-x-auto shadow-lg rounded-lg max-h-96 table-wrp block">
        <table class="w-full text-left table-auto bg-white">
            <thead class="text-xm text-gray-700 uppercase bg-gray-100 text-center sticky top-0 items-center">
                <tr>
                    <th class="px-6 py-3 border-b border-gray-300 border-r">Customer

                        <button onclick="populateAddOrderModal()" class="flex justify-center items-center text-gray-300 hover:text-gray-600 bg-transparent hover:bg-gray-200 rounded-lg px-2 py-1 transition duration-100 ease-in-out w-full">
                            <i class="fas fa-plus"></i>
                        </button>
                    </th>
                    {% for date in week_dates %}
                        <th class="px-6 py-3 border-b border-gray-300 border-r">{{ date.strftime('%Y-%m-%d') }}
                            <a href="{{ url_for('main.download_delivery_note', date=date.strftime('%Y-%m-%d')) }}" class="flex justify-center items-center text-gray-300 hover:text-gray-600 bg-transparent hover:bg-gray-200 rounded-lg px-2 py-1 transition duration-100 ease-in-out">
                                <i class="fas fa-download"></i>
                            </a>
                        </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody class="text-sm divide-y divide-gray-200 h-96 overflow-y-auto">
                {% for customer, dates in orders_by_customer.items() %}
                    <tr class="{{ loop.index0 % 2 == 0 and 'bg-white' or 'bg-gray-50' }}">
                        <td class="px-6 py-4 border-r font-medium text-gray-700">{{ customer }}</td>
                        {% for date in week_dates %}
                            <td class="px-6 py-4 border-r items-center">
                                {% for order in dates[date] %}
                                    <div class="flex items-center">
                                        <form action="{{ url_for('main.update_order', order_id=order.id) }}" method="post" class="flex flex-grow justify-center items-center">
                                            <button type="button" onclick="populateUpdateModal('{{order.id}}')" class="flex justify-between items-center w-full text-left hover:bg-gray-200 rounded-lg px-1 py-1 transition duration-100 ease-in-out update-order-btn">
                                                <div class="text-left font-semibold text-gray-800 truncate w-32 sm:text-xx">
                                                    {{ order.product }} ({{ "%.2f"|format(order.price) }})
                                                </div>
                                                <div class="flex justify-end items-center text-xm">
                                                    <span class="{{ 'text-green-600' if order.total_produced|float >= order.quantity|float * completion_threshold|float else 'text-red-600' }}">
                                                        {{ "%.2f"|format(order.total_produced) }}/{{ order.quantity|float }}
                                                    </span>
                                                </div>
                                            </button>
                                        </form>

                                    </div>
                                {% else %}
                                    <span></span>
                                {% endfor %}
                                <div class="flex w-full justify-center items-center">

                                    {% if dates[date] %}
                                        <!-- <a href="{{ url_for('main.add_order',date=date.strftime('%Y-%m-%d'), customer=customer) }}" class="flex flex-grow justify-center items-center text-gray-300 hover:text-gray-600 bg-transparent hover:bg-gray-200 rounded-lg px-2 py-1 transition duration-100 ease-in-out">
                                            <i class="fas fa-plus"></i>
                                        </a> -->
                                        <button onclick="populateAddOrderModal(this.getAttribute('data-date'), this.getAttribute('data-customer'))" data-date="{{date.strftime('%Y-%m-%d')}}" data-customer="{{customer}}" class="flex flex-grow justify-center items-center text-gray-300 hover:text-gray-600 bg-transparent hover:bg-gray-200 rounded-lg px-2 py-1 transition duration-100 ease-in-out">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <a href="{{ url_for('main.download_delivery_note', date=date.strftime('%Y-%m-%d'), customer=customer) }}" class="flex flex-grow justify-center items-center text-gray-300 hover:text-gray-600 bg-transparent hover:bg-gray-200 rounded-lg px-2 py-1 transition duration-100 ease-in-out">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    {% else %}
                                        <div class="w-full h-full flex py-0 justify-center items-center">
                                            <!-- <a href="{{ url_for('main.add_order', date=date.strftime('%Y-%m-%d'), customer=customer) }}" class="flex w-full h-full justify-center items-center text-gray-300 hover:text-gray-600 text-opacity-0 bg-transparent hover:bg-gray-200 rounded-lg px-2 py-6 transition duration-100 ease-in-out">
                                                <i class="fas fa-plus"></i>
                                            </a> -->
                                            <button onclick="populateAddOrderModal(this.getAttribute('data-date'), this.getAttribute('data-customer'))" data-date="{{date.strftime('%Y-%m-%d')}}" data-customer="{{customer}}" class="flex w-full h-full justify-center items-center text-gray-300 hover:text-gray-600 text-opacity-0 bg-transparent hover:bg-gray-200 rounded-lg px-2 py-6 transition duration-100 ease-in-out w-full">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div id="updateOrderModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen px-4 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:align-middle sm:max-w-lg sm:w-full transform scale-90">
            <form id="updateOrderForm" method="post">
                <div class="bg-white grid mx-auto sm:grid-cols-2 gap-4 px-4 py-4 sm:px-6 sm:py-5 text-left"> 
                    <input type="hidden" name="id" id="hiddenOrderID" value="">
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Customer Name
                        </h3>
                        <p id="displayCustomerName" class="mt-0.5 mb-1 border border-gray-300 px-3 py-2 w-full rounded">
                        </p>
                    </div>
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Delivery Date
                        </h3>
                        <p id="displayOrderDate" class="mt-0.5 mb-1 border border-gray-300 px-3 py-2 w-full rounded">
                        </p>
                    </div>
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Product Name
                        </h3>
                        <p id="displayProductName" class="mt-0.5 mb-1 border border-gray-300 px-3 py-2 w-full rounded">
                        </p>
                    </div>
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Price (VAT14)
                        </h3>
                        <div class="mt-0.5 mb-1">
                            <input type="number" step="0.01" id="updateOrderPriceInput" name="price" class="border border-gray-300 px-3 py-2 w-full rounded" placeholder="Enter new price">
                        </div>
                    </div>
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Quantity (KG)
                        </h3>
                        <div class="mt-0.5 mb-1">
                            <input type="number" step="0.01" id="updateOrderQuantityInput" name="quantity" class="border border-gray-300 px-3 py-2 w-full rounded" placeholder="Enter new quantity">
                        </div>
                    </div>
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Fish Size
                        </h3>
                        <div class="mt-0.5 mb-1">
                            <select id="fishSizeSelect" name="fishSize" class="border border-gray-300 px-3 py-2 w-full rounded">
                                <option value="">Select a fish size</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="bg-gray-50 items-center px-4 py-3 sm:px-6 sm:flex sm:justify-center sm:space-x-4">
                    <button type="button" id="deleteOrderBtn" class="flex-1 w-full sm:w-auto mt-3 inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none sm:mt-0">
                        Delete
                    </button>
                    <button type="button" id="saveOrderUpdateBtn" class="flex-1 w-full sm:w-auto mt-3 inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none sm:mt-0">
                        Save
                    </button>
                    <button type="button" id="saveEditOrderUpdateBtn" class="flex-1 w-full sm:w-auto mt-3 inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none sm:mt-0">
                        Details
                    </button>
                    <button type="button" id="cancelOrderUpdateBtn" class="flex-1 w-full sm:w-auto mt-3 inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none sm:mt-0">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="addOrderModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen px-4 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:align-middle sm:max-w-lg sm:w-full transform scale-90">
            <form id="addOrderForm" method="post">
                <div class="bg-white grid mx-auto sm:grid-cols-2 gap-4 px-4 py-4 sm:px-6 sm:py-5 text-left"> 
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Customer Name *
                        </h3>
                        <select id="customersSelect" name="customer" required class="border border-gray-300 px-3 py-2 w-full rounded">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Delivery Date *
                        </h3>
                        <input type="date" id="addOrderDateInput" name="date" required class="mt-0.5 mb-1 border border-gray-300 px-3 py-2 w-full rounded">
                    </div>
                    
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Product Name *
                        </h3>
                        <select id="productsSelect" name="product" required class="border border-gray-300 px-3 py-2 w-full rounded">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Price (VAT14) *
                        </h3>
                        <div class="mt-0.5 mb-1">
                            <input type="number" step="0.01" id="addOrderPriceInput" name="price" required class="border border-gray-300 px-3 py-2 w-full rounded" placeholder="Enter new price">
                        </div>
                    </div>
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Quantity (KG) *
                        </h3>
                        <div class="mt-0.5 mb-1">
                            <input type="number" step="0.01" id="addOrderQuantityInput" name="quantity" required class="border border-gray-300 px-3 py-2 w-full rounded" placeholder="Enter new quantity">
                        </div>
                    </div>
                    <div>
                        <h3 class="leading-6 font-medium text-gray-900">
                            Fish Size
                        </h3>
                        <div class="mt-0.5 mb-1">
                            <select id="fishSizesSelect" name="fishSize" class="border border-gray-300 px-3 py-2 w-full rounded">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 items-center px-4 py-3 sm:px-6 sm:flex sm:justify-center sm:space-x-4">
                    <button type="submit" id="addOrderBtn" class="flex-1 w-full sm:w-auto mt-3 inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none sm:mt-0">
                        Add
                    </button>
                    <button type="button" id="cancelAddOrderBtn" class="flex-1 w-full sm:w-auto mt-3 inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none sm:mt-0">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
