{% extends "base.html" %}

{% block head_content %}
    <script src="/static/js/orderEditingScripts.js" defer></script>
    <link rel="stylesheet" href="/static/css/orderEditing.css">

{% endblock %}

{% block body %}
<div class="flex flex-col space-y-4 p-4">


    <form action="/order_editing" method="get" class="mb-6 bg-gradient-to-r from-gray-100 to-gray-200 p-4 rounded-lg shadow-md">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
    
            <div class="mb-4 flex items-center">
                <input 
                type="week" 
                id="date-range" 
                name="week"
                value="{{ week_str }}" 
                class="border p-2 flex-grow rounded-lg">
            </div>
    
            <div class="flex justify-between mt-4 space-x-2">
                <button name="prev_week" type="submit" value="true" class="flex-grow text-sm bg-gray-300 hover:bg-gray-400 text-black font-semibold py-1.5 px-4 rounded-lg transition duration-300 ease-in-out">
                    <i class="fa-solid fa-chevron-left"></i> Prev Week
                </button>
                <button 
                type="submit" 
                class="flex-grow bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 text-white font-semibold py-2.5 px-4 rounded-lg">
                Search
                </button>
                <button name="next_week" type="submit" value="true" class="flex-grow text-sm bg-gray-300 hover:bg-gray-400 text-black font-semibold py-1.5 px-4 rounded-lg transition duration-300 ease-in-out">
                    <i class="fa-solid fa-chevron-right"></i> Next Week
                </button>
            </div>
    
        </div>
    </form>
    


    <div class="overflow-x-auto shadow-lg rounded-lg max-h-96 table-wrp block ">

        <table class="w-full text-left table-auto bg-white">
            <thead class="text-xm text-gray-700 uppercase bg-gray-100 text-center sticky top-0 items-center">
                <tr>
                    <th class="px-6 py-3 border-b border-gray-300 border-r">Customer</th>
                    {% for date in week_dates %}
                        <th class="px-6 py-3 border-b border-gray-300 border-r">{{ date.strftime('%Y-%m-%d') }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody class="text-sm divide-y divide-gray-200 h-96 overflow-y-auto">
                {% for customer, dates in orders_by_customer.items() %}
                    <tr class="{{ loop.index0 % 2 == 0 and 'bg-white' or 'bg-gray-50' }}">

                        <td class="px-6 py-4 border-r font-medium text-gray-700">{{ customer }}</td>

                        {% for date in week_dates %}
                            <td class="px-6 py-4 border-r items-center">
                                {% for order in dates[date] %}
                                <div class="flex items-center">
                                    <button class="flex justify-between items-center w-full text-left bg-white hover:bg-gray-200 rounded-lg px-2 py-1 transition duration-300 ease-in-out">
                                        <span class="text-right font-semibold text-gray-800">{{ order.product }} ({{ "%.2f"|format(order.price) }})</span>
                                            <div class="flex justify-end items-center">
                                                <span class="{{ 'text-green-600' if order.total_produced|float >= order.quantity|float * completion_threshold|float else 'text-red-600' }}">
                                                    {{ "%.2f"|format(order.total_produced) }}/{{ order.quantity|float }}
                                                </span>
                                            </div>
                                    </button>

                                </div>
                                {% else %}
                                    <span></span>
                                {% endfor %}

                                <div class="flex w-full justify-center items-center">
                                    <a href="{{ url_for('main.add_order', date=date.strftime('%Y-%m-%d'), customer=customer) }}" class="flex flex-grow justify-center items-center text-gray-300 hover:text-gray-600 bg-transparent hover:bg-gray-200 rounded-lg px-2 py-1 transition duration-300 ease-in-out">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                    {% if dates[date] %}
                                        <a href="{{ url_for('main.download_pdf', date=date.strftime('%Y-%m-%d'), customer=customer) }}" class="flex flex-grow justify-center items-center text-gray-300 hover:text-gray-600 bg-transparent hover:bg-gray-200 rounded-lg px-2 py-1 transition duration-300 ease-in-out">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>


</div>





{% endblock %}
